<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="书签网站" />
    <meta name="author" content="LuckRain7" />
    <title>LuckRain7's Bookmarks</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->

    <style lang="css">
        html,
        body {
            overflow-x: hidden;
            /* Prevent scroll on narrow devices */
        }

        body {
            padding-top: 56px;
        }

        @media (max-width: 991.98px) {
            .offcanvas-collapse {
                position: fixed;
                top: 56px;
                /* Height of navbar */
                bottom: 0;
                left: 100%;
                width: 100%;
                padding-right: 1rem;
                padding-left: 1rem;
                overflow-y: auto;
                visibility: hidden;
                background-color: #343a40;
                transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
                transition: transform .3s ease-in-out, visibility .3s ease-in-out;
                transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            }

            .offcanvas-collapse.open {
                visibility: visible;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            color: rgba(255, 255, 255, .75);
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }

        .nav-underline .nav-link:hover {
            color: #007bff;
        }

        .nav-underline .active {
            font-weight: 500;
            color: #343a40;
        }

        .text-white-50 {
            color: rgba(255, 255, 255, .5);
        }

        .bg-purple {
            background-color: #6f42c1;
        }

        .lh-100 {
            line-height: 1;
        }

        .lh-125 {
            line-height: 1.25;
        }

        .lh-150 {
            line-height: 1.5;
        }
    </style>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">LuckRain7's Bookmarks</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/index.html">书签</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/github.html">GitHub</a>
                    </li>
                </ul>
            </form>
        </div>

    </nav>

    <!-- 下面导航栏 -->
    <div style="position: fixed;width: 100%;height: auto;">
        <div class="nav-scroller bg-white shadow-sm" style="width: 100%;height: auto !important;">
            <!-- <nav class="nav nav-underline"> -->
             <div style="float: left;" >
                <% render.forEach(function(item,index){ %>
                    <a class="nav-link"  style="float: left; cursor: pointer;" onClick="jump('<%=item.title %>')"><%=item.title %></a>
                <% }); %>
                <!-- <a class="nav-link active" href="#">Dashboard</a> -->
            </div>
        </div>
    </div>

    <!-- 主部分 -->
    <main role="main" class="container">

        <div style="height: 25px;"></div>

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">LuckRain7</h6>
                <small>Since 2020</small>
            </div>
        </div>

        <% render.forEach(function(item){ %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0" id="<%=item.title %>"><%=item.title %></h6>
                <% item.children.forEach(function(link){ %>
                    <div class="media text-muted pt-3">

                        <!-- 进行 svg 图标控制 -->
                        <% if (icon[item.title]) { %>
                            <%- icon[item.title] %>
                        <% } else { %>
                            <%- icon['default'] %>
                        <% } %>

                        <!-- 主内容实现 -->
                        <% if (link.intro.length > 0) { %>
                            <div class="media-body pb-2 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark"><%=link.title %></strong>
                                    <a href="<%=link.url %>" target="_blank">前往</a>
                                </div>
                                <span class="d-block" style="margin-top: 8px;"><%=link.intro %></span>
                            </div>
                        <% } else { %>
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark" style="margin-top:15px;"><%=link.title %></strong>
                                    <a href="<%=link.url %>" target="_blank">前往</a>
                                </div>
                            </div>
                        <% } %>


                    </div>
                <% }); %>
                <!-- <small class="d-block text-right mt-3">
                    <a href="#">All suggestions</a>
                </small> -->
            </div>
        <% }); %>
    </main>
    <script>
        var jump = function (_id){
            const el = document.querySelector(`#${_id}`)
            window.scrollTo({ 
               top: el.offsetTop - 120, 
               behavior: "smooth" 
            });
        }
    </script>
</body>

</html>